<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Lesson1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='a1.css') }}"> 
    
    <script src="{{ url_for('static', filename='a1.js') }}"></script>
    <style>
        /* Add your custom styles here */
        form {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #4CAF50;
            padding: 10px 20px;
            border-radius: 5px;
        }
        button {
            border: none;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body onload="myFlip()">
    <main id="main">
        <h1>LET'S LEARN TAMIL</h1>
        <div id="rowLetter"></div>
        <div id="allCard">
            <div id="front" class="card">
                <span class="letter">A</span>
            </div>
            <div id="back" class="card">
                <img class="myimg" src="{{ url_for('static', filename='img/1.jpeg') }}">
            </div>            
        </div>
        <form action="{{ url_for('p6') }}">
            <button type="submit">Take Assessment</button>
        </form>
    </main>
</body>
</html>
